{%extends 'randysCoin/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
    <main class="px-3">
    <p class="lead">Wow, just amazing, Randy was inquistive too</p>
     <p class="lead">Type in the name of the currency you are looking please for a detailed breakdown</p>   
  </main>
</div>
<!-- Form here -->
<div class=" w-25 container input-group rounded">
  <form type="get" method="GET">
    {%csrf_token%}
    {{form|crispy}}
    <button class="btn btn-light btn-sm" id="search_submit" type="submit" >Submit</button>
</form>
</div>
<div class="container">

    <main class="px-3">
      <h1>{{response.name}}</h1><h2 class="text-muted">{{response.symbol}}</h2>
      
      <div class="card bg-dark">
        <div class="card-body">
          <p class="text-white"> Price : ${{response.priceUsd|slice:":8"}}</p>
          <p class="text-white">Supply : {{response.supply|slice:":8"}}</p>
          <p class="text-white">Max Supply : {{response.maxSupply|slice:":8"}}</p>
          <p class="text-white">Market Cap : {{response.marketCapUsd|slice:":15"}}</p>
          <p class="text-white">Volume : {{response.volumeUsd24Hr|slice:":15"}}</p>

        </div>
      </div>
    </main>
</div>


<div class="container table-container">
    <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Rank</th>
        <td>Rank is in ascending order - this number is directly associated with the marketcap whereas the highest marketcap receives rank 1</td>
      </tr>
      <tr>
        <th scope="row">Symbol</th>
        <td>Most common symbol used to identify this asset on an exchange</td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td colspan="2">Proper name for asset</td>
      </tr>

      <tr>
        <th scope="row">Supply</th>
        <td colspan="2">Available supply for trading</td>
      </tr>

      <tr>
        <th scope="row">Max Supply</th>
        <td colspan="2">Total quantity of asset issued</td>
      </tr>

      <tr>
        <th scope="row">Market Cap in USD</th>
        <td colspan="2">Supply x Price</td>
      </tr>

      <tr>
        <th scope="row">Volume USD 24 Hours</th>
        <td colspan="2">Quantity of trading volume represented in USD over the last 24 hours</td>
      </tr>

      <tr>
        <th scope="row">Price USD</th>
        <td colspan="2">Volume-weighted price based on real-time market data, translated to USD</td>
      </tr>

      <tr>
        <th scope="row">Percentage Change 24 Hrs</th>
        <td colspan="2">The direction and value change in the last 24 hours</td>
      </tr>

      <tr>
        <th scope="row">VWAP24Hr</th>
        <td colspan="2">Volume Weighted Average Price in the last 24 hours</td>
      </tr>
    </tbody>
  </table>
</div>

{%endblock content%}